<%= render 'shared/leftside' %>
<h1>Editing Portfolio</h1>

<%= render 'form', portfolio: @portfolio %>

<%= link_to 'Back', new_portfolio_path, class: "btn btn-primary" %>
</section>
<!-- .edit-wrapper -->
