<%= render 'shared/leftside' %>
<h1>Editing Expertise</h1>

<%= render 'form', expertise: @expertise %>

<%= link_to 'Show', @expertise %> |
<%= link_to 'Back', new_expertise_path, class: "btn btn-primary" %>
</section>
<!-- .edit-wrapper -->
